---
import Layout from "$_lay/layoutEn.astro";
import ProjectsWrapper from "$_app/components/en/wrapper/ProjectWrapper";
import { slide } from "astro:transitions";
---

<Layout
    title="Missa510 ~ Projects"
    description="These are projects I made"
>
    <main class="container mx-auto mt-24">
        <ProjectsWrapper
            client:load
            transition:name="proyectos"
            transition:animate={slide({
                duration: "700ms",
            })}
        />
    </main>
</Layout>
