---
import { PDFIcon } from "$_compon/ui/icons_svgs"
const { name, description, path, expeDate, expeInstituteS } = Astro.props;
---
<section class="grid place-items-center gap-3">
    <h1 class="text-xl">Certificado de {name}</h1>
    <p class="text-balance text-lg text-center text-slate-200">{description}</p>
    <a href={path} target="_blank" class="inline-flex items-center gap-2 rounded-md hover:bg-slate-200 px-4 py-2 transition hover:text-black"> 
        <PDFIcon clases="h-8 w-8 text-blue-300"/> Ver PDF
    </a>
    <span class="text-stone-400">Expedido en: {expeDate.toDateString()} por: {expeInstituteS.join(', ')}</span>
</section>