---
import { PDFIcon } from "$_compon/ui/icons_svgs"
const { name, description, path, expeDate, expeInstituteS } = Astro.props;
---
<section class="grid place-items-center gap-3 bg-slate-800 py-4 px-4 md:px-0 rounded-lg">
    <h1 class="text-2xl text-center">Certificado de {name}</h1>
    <p class="text-balance text-xl text-center text-slate-200">{description}</p>
    <a href={path} target="_blank" class="group inline-flex items-center gap-2 rounded-md hover:bg-slate-200 px-4 py-2 transition hover:text-black"> 
        <PDFIcon clases="h-8 w-8 transition text-blue-300 group-hover:text-blue-700"/> Ver certificado
    </a>
    <span class="text-stone-400">Expedido en: {expeDate.toDateString()} por: {expeInstituteS.join(', ')}</span>
</section>