---
const { title, description } = Astro.props;
import "../globals.css";
import Header from "$_compon/en/Header";
import Footer from "$_compon/en/Footer";
import { ClientRouter } from "astro:transitions";
import { getRelativeLocaleUrl } from "astro:i18n";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <meta name="og:title" content={"Missa510's Portfolio"} />
        <meta name="og:description" content={"This is the Santiago Quintero V. portfolio. Best known as Missa510"} />
        <meta name="og:type" content="website" />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:image" content={"/images/op_image.png"}/>

        <ClientRouter />
        <title>{title}</title>
    </head>
    <body
        class="min-h-[100vh] bg-main-frutiger bg-cover bg-center bg-no-repeat bg-fixed overflow-y-scroll"
    >
        <Header client:load />
        <slot />
        <Footer />
    </body>
</html>
