---
const { title, description } = Astro.props;
import "../globals.css";
import Header from "$_compon/Header";
import Footer from "$_compon/Footer";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <!-- OPGraph para los sitios -->
        <meta name="og:locale" content={"es_ES"} />
        <meta name="og:title" content={"Portafolio de Missa510"} />
        <meta name="og:site_name" content={"Missa510 ~ Desarrollador"} />
        <meta name="og:description" content={"Portafolio de Santiago Quintero V. Mejor conocido como Missa510"} />
        <meta name="og:type" content="website" />
        <meta name="og:url" content={Astro.url.toString()} />
        <meta name="og:image" content={"/images/op_image.png"}/>
        <meta name="og:image:alt" content={"Imagen de refencia de Missa510 y el portafolio web"}/>
        <meta name="og:image:type" content={"image/png"}/>

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <ClientRouter />
        <title>{title}</title>
    </head>
    <body
        class="min-h-[100vh] bg-main-frutiger bg-cover bg-center bg-no-repeat bg-fixed overflow-y-scroll"
    >
        <Header client:load />
        <slot />
        <Footer />
    </body>
</html>
